spring:

  datasource:
    url: jdbc:postgresql://localhost:9902/db_nutrifit
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    create-schemas: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        use_sql_comments: true
        show_sql: true
        generate_statistics: false
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false

logging:
  level:
    org.flywaydb: INFO
    org.hibernate: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.orm.jpa: INFO
    org.springframework.transaction: INFO